<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterMind Admin Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/slider.css">       
</head>
<body>
    

<h1>MasterMind Admin Page</h1>
<header><%- include('partials/nav') %></header> 

<div><span><h5>Admin Id</h5></span>    
    <%if(user) { %> 
        <p>Hello <%= user.given_name || user.name %> </p> 
    <%} else {%>
        <p>The user is logged out </p>
    <% } %>

    <% if(user){ %> 
        <div class="profileInfo">
            <img src="<%= user.picture %>" alt="">
            <p class="name"> User: <%= user.name %>  </p>
        </div>  
    <% } %>
</div>  

<div>
    <span><h5>Select Range of Years to include in the Mastermind</h5></span>
    <form name="yearQuery" action="#">
        <div>  
        <span><%- include('partials/sliderMin') %></span>          
        <span><input id="sYear" for="minYear" type="number" placeholder="Beginning Year: 2011" value="" minlength="4" maxlength="4" name="startYear"></span>
        <span><%- include('partials/sliderMax') %></span>
        <span><input id="eYear" for="maxYear" type="number" placeholder="Ending Year: 2022" value="" minlength="4" maxlength="4" name="endYear"></span>
        <button class="submitYear" type="sumbit">Submit</button>
        </div>      
    </form>

        <span><h5>MasterMind Generation</h5><button id="generate" type="button">Smart Pick</button></span>
        
        <span><p id="pick"></p></span>
        

        <span>
            <p class="content"><%= `[ ${smartPick} ]`  %></p>
            <p class='hideVars' hidden > <%- mmVars %> </p>
            <p class='hideVars2' hidden > <%- dbres %> </p>
        </span>

    </div>    
   
    <div>
        <span><h5>Populate Database</h5></span>
       <form name="populateDB" action="#">
            <div>
                <span>  <input id="dataDocument" type="file" placeholder="Select RC5 Data File" name="formFileRC5"><br> </span>
                <span>  <input id="docYear" type="number" placeholder="year" minlength="4" maxlength="4" required="true" name="documentYear"></span>
                <button class="submitData" type="sumbit">Submit</button>
            </div>
        </form>
    </div>


   <script src="/js/admin.js"></script>
</body>
</html>

