<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterMind Admin Page</title>
    <link rel="stylesheet" href="/css/style.css">      
</head>
<body>
    
<h1>MasterMind Admin Page</h1>
    <%- include('partials/nav') %>

     
     <%if(user) { %> 
        <p>Hello <%= user.given_name || user.name %> </p> 
        <%} else {%>
         <p>The user is logged out </p>
          <% } %>

    <% if(user){ %> 
    <div class="profileInfo">
        <img src="<%= user.picture %>" alt="">
        <p class="name"> User Name is: <%= user.name %>  </p>
    </div>  
    <% } %>

    <div><span id="pick"></span></div>
    <button id="generate">Smart Pick</button>


    <p class="content"><%= `[ ${smartPick} ]`  %></p>
    <div class='test' hidden > <%- JSON.stringify(mmVars) %> </div>
    

  

    <!-- <form action="/admin/uploadData" method="POST"> -->
        <form>
        <div>
            <span>  <input type="file" placeholder="Select RC5 Data File" name="formFileRC5"><br> </span>
        </div>

        <!-- <input type="text" placeholder=" Task" name="todoFormItem">
        <input type="date" placeholder="Finish By" name="formDate">
        <input type="submit" > -->

    </form>
   
   <script src="/js/admin.js"></script>
</body>
</html>